/* src/styles/footer.css */
.footer {
  background-color: #000000; /* noir */
  color: #FFD700; /* or */
  text-align: center;
  padding: 1rem;
  width: 100%;
}

/* Responsive pour mobile */
@media (min-width: 640px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
